@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.recognizedSection {
    padding: 120px 0;

    @include respond-to("xl") {
        padding: 90px 0;
    }

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 497px 1fr;
        gap: 24px;

        @include respond-to("md") {
            grid-template-columns: 1fr;
        }

        .griditems:last-child {
            border-radius: 24px;
            background: rgba(255, 255, 255, 0.06);
            position: relative;
            padding: 49px 0 49px 0;
            overflow: hidden;

            @include respond-to("xl") {
                border-radius: 18px;
            }

            @include respond-to("sm") {
                padding: 40px 0;
            }

            &::before {
                position: absolute;
                bottom: 60px;
                left: 50%;
                transform: translateX(-50%);
                background: #D9D9D9;
                filter: blur(200px);
                width: 162px;
                height: 162px;
                content: '';
            }

            .bottomSpacing {
                padding: 0 0 16px 0;
            }

            .smallBox {
                border-radius: 12px;
                width: fit-content;
                margin-right: 16px;
                border: 1px solid rgba(204, 204, 204, 0.00);
                background: rgba(255, 255, 255, 0.10);
                padding: 24px;

                @include respond-to("sm") {
                    padding: 18px 12px;
                }

                img {
                    display: block;
                }
            }

            .textstyle {
                padding: 0 20px 50px 20px;

                @include respond-to("sm") {
                    padding: 0 20px 24px 20px;
                }

                h3 {
                    @include gradient-text;
                    @include heading-font;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 0 0 24px 0;

                    @include respond-to("xl") {
                        @include heading40;
                    }

                    @include respond-to("sm") {
                        text-align: center;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                        text-transform: uppercase;
                        margin: 0 auto 24px auto;
                    }
                }

                p {
                    color: rgba(255, 255, 255, 0.70);
                    text-align: center;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0 auto;
                    max-width: 849px;
                    @include font-normal;

                    @include respond-to("xl") {
                        @include font18;
                    }

                    @include respond-to("sm") {
                        max-width: 360px;
                        text-align: center;
                        font-size: 20px;
                        line-height: normal;
                    }
                }
            }
        }


        .griditems {
            .box:last-child {
                margin: 0;
            }

            .box {
                border-radius: 24px;
                background: rgba(255, 255, 255, 0.06);
                position: relative;
                padding: 32px;
                margin: 0 0 24px 0;
                overflow: hidden;

                @include respond-to("xl") {
                    border-radius: 18px;
                }

                @include respond-to("sm") {
                    padding: 24px;
                }

                &::before {
                    width: 100px;
                    height: 100px;
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background: #D9D9D9;
                    filter: blur(200px);
                }

                h3 {
                    max-width: 336px;
                    @include gradient-text;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    margin: 0 0 40px 0;
                    text-transform: uppercase;
                    @include heading-font;

                    @include respond-to("sm") {
                        max-width: 270px;
                        margin: 0 auto 24px auto;
                        text-align: center;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 140%;
                    }
                }

                .twoAlignment {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    img {
                        display: block;
                    }

                    span {
                        display: block;
                        color: rgba(255, 255, 255, 0.70);
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        @include font-normal;

                        @include respond-to("xl") {
                            @include font18;
                        }
                    }

                    div:last-child {
                        img {
                            max-width: 200px;

                            @include respond-to("sm") {
                                max-width: 170px;
                            }
                        }
                    }
                }
            }
        }
    }
}