@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.studentSay {
    background: #0C0C0C;
    padding: 120px 0;
    position: relative;
    overflow: hidden;

    @include respond-to("xl") {
        padding: 90px 0;
    }

    @include respond-to("sm") {
        padding: 60px 0;
    }

    &::before {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 190px;
        left: 50%;
        background: #D9D9D9;
        filter: blur(200px);
        content: '';
        width: 190px;
        height: 190px;

        @include respond-to("sm") {
            background: #D9D9D9;
            opacity: .5;
            fill: blur(80px);
        }
    }

    .title {
        padding: 0 0 60px 0;

        h2 {
            @include heading-font;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            text-transform: uppercase;
            text-align: center;
            @include gradient-text;

            @include respond-to("sm") {
                max-width: 324px;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                margin: 0 auto;
                line-height: 140%;
                text-transform: uppercase;
            }
        }
    }

    .spacingBottom {
        padding: 0 0 32px 0;

        @include respond-to("xl") {
            padding: 0 0 24px 0;
        }

        @include respond-to("sm") {
            padding: 0 0 16px 0;
        }
    }

    .box {
        padding: 32px;
        border-radius: 25.914px;
        background: #0C0C0C;
        position: relative;
        max-width: 645px;
        margin-right: 32px;
        width: 645px;
        overflow: hidden;

        @include respond-to("xl") {
            max-width: 560px;
            width: 560px;
            padding: 24px;
            border-radius: 18px;
        }

        @include respond-to("sm") {
            max-width: 252px;
            width: 252px;
            padding: 24px;
            margin-right: 16px;
            padding: 20px;
            border-radius: 18px;
        }

        .bottomIcon {
            position: absolute;
            bottom: 0;
            right: 32px;

            @include respond-to("sm") {
                right: 20px;
            }

            img {
                max-width: 130px;
                display: block;

                @include respond-to("sm") {
                    max-width: 65px;
                }
            }
        }

        h3 {
            color: rgba(255, 255, 255, 0.70);
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @include font-normal;
            margin: 0 0 32px 0;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @include respond-to("xl") {
                @include font18;
            }

            @include respond-to("sm") {
                font-size: 16px;
                line-height: normal;
                margin: 0 0 16px 0;
            }
        }

        .profile {
            display: grid;
            grid-template-columns: 56px 1fr;
            gap: 12px;
            position: relative;
            align-items: center;

            @include respond-to("xl") {
                grid-template-columns: 50px 1fr;
            }

            @include respond-to("sm") {
                grid-template-columns: 30px 1fr;
                gap: 5px;
            }

            img {
                display: block;
                width: 56px;
                height: 56px;
                object-fit: cover;
                border-radius: 50%;

                @include respond-to("xl") {
                    width: 50px;
                    height: 50px;
                }

                @include respond-to("sm") {
                    width: 30px;
                    height: 30px;
                }
            }

            p {
                color: #FFF;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                @include font-medium;

                @include respond-to("xl") {
                    @include font18;
                }

                @include respond-to("sm") {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: normal;
                }


            }

            span {
                display: block;
                color: rgba(255, 255, 255, 0.70);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include font-normal;

                @include respond-to("xl") {
                    font-size: 16px;
                }

                @include respond-to("sm") {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        &::after {
            position: absolute;
            left: 20%;
            bottom: 0;
            width: 160px;
            height: 160px;
            content: '';
            background: #FFEEBF;
            opacity: 0.2;
            filter: blur(129.57057189941406px);
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 24px;
            border-radius: inherit;
            padding: 1px;
            background: linear-gradient(180deg, #666666 0%, #000000 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;

            mask-composite: exclude;
            pointer-events: none;
            transition: .3s ease-in-out;

            @include respond-to("xl") {
                border-radius: 18px;
            }
        }
    }
}