@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.shapingConfident {
    padding: 30px 0 120px 0;
    background: #0C0C0C;
    position: relative;



    .grid {
        display: grid;
        grid-template-columns: 617px 1fr;
        gap: 100px;
        align-items: center;

        .griditems {
            position: relative;

            .allBoxalignment {
                position: absolute;
                top: 7%;
                left: 50%;
                transform: translate3d(-50%, 0, 529px);
                width: 100%;
                max-width: 280px;
                overflow: hidden;
                max-height: 250px;

                .box {
                    border-radius: 24px;
                    margin: 0 0 24px 0;
                    padding: 16px;
                    width: 100%;
                    background: #1D1D1D;
                    max-width: 280px;
                    display: grid;
                    grid-template-columns: 100px 1fr;
                    gap: 16px;
                    align-items: center;
                    position: relative;
                    overflow: hidden;

                    &:hover {

                        &::after {
                            animation: shimmer .8s ease-in-out forwards;
                            left: 0;
                        }

                        &::before {
                            background: linear-gradient(180deg, #E4AB40 0%, #000000 100%);
                        }


                    }

                    @keyframes shimmer {
                        0% {
                            transform: translateX(-100%);
                        }

                        100% {
                            transform: translateX(100%);
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(249 244 144 / 4%), rgba(0, 0, 0, 0));
                        pointer-events: none;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        border-radius: 24px;
                        border-radius: inherit;
                        padding: 1px;
                        /* border width */
                        background: linear-gradient(180deg, #666666 0%, #000000 100%);
                        -webkit-mask:
                            linear-gradient(#fff 0 0) content-box,
                            linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        pointer-events: none;
                        transition: .3s ease-in-out;
                    }

                    h4 {
                        color: #FFF;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: uppercase;
                        @include heading-font;
                    }

                    .icon {
                        border-radius: 16px;
                        background: #363636;
                        box-shadow: 0 26px 12px -20px rgba(0, 0, 0, 0.50);
                        width: 100px;
                        height: 100px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            display: block;
                            mix-blend-mode: difference;
                            max-width: 75px;
                        }

                    }
                }
            }
        }

        .text {
            h2 {
                font-size: 48px;
                font-weight: 400;
                line-height: 140%;
                text-transform: uppercase;
                @include gradient-text;
                margin: 40px 0 27px 0;
                @include heading-font;
                max-width: 506px;
            }

            p {
                margin: 0 0 20px 0;
                color: rgba(255, 255, 255, 0.70);
                font-size: 24px;
                font-style: normal;
                max-width: 711px;
                font-weight: 400;
                line-height: normal;
                @include font-normal;
            }
        }

        .image {
            position: relative;

            img {
                display: block;
                width: 100%;
                position: relative;
            }
        }
    }
}