@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.joinChannel {
    background: #0C0C0C;
    overflow: hidden;

    .grid {
        display: grid;
        grid-template-columns: 1fr 588px;
        gap: 40px;
        align-items: center;

        @include respond-to("md") {
            grid-template-columns: 1fr;
            gap: 0;
        }

        .griditems:first-child {
            padding: 120px 0;

            @include respond-to("sm") {
                order: 2;
                padding: 40px 0 60px 0;
            }

            h2 {
                margin: 0 0 37px 0;
                @include gradient-text;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                text-transform: uppercase;
                @include heading-font;

                @include respond-to("xl") {
                    @include heading40;
                    max-width: 80%;
                    margin: 0 0 30px 0;
                }

                @include respond-to("sm") {
                    text-align: center;
                    font-size: 32px;
                    font-weight: 400;
                    max-width: 100%;
                    line-height: 140%;
                }
            }

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                max-width: 787px;
                margin: 0 0 20px 0;
                @include font-normal;

                @include respond-to("xl") {
                    @include font18;
                }

                @include respond-to("sm") {
                    text-align: center;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .buttonAlignment {
                padding: 17px 0 0 0;

                @include respond-to("xl") {
                    padding: 10px 0 0 0;
                }

                button {
                    @include respond-to("sm") {
                        width: 100%;
                    }
                }
            }
        }

        .griditems:last-child {
            height: 100%;
            position: relative;

            .iconAlign {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .iconCenter {


                img {
                    display: block;
                    max-width: 518px;

                    @include respond-to("sm") {
                        max-width: 320px;
                    }
                }

            }

            .image {
                width: 100%;
                height: 100%;
                opacity: .5;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }

    }
}