@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.joinChannel {
    background: #0C0C0C;
    overflow: hidden;

    .grid {
        display: grid;
        grid-template-columns: 1fr 588px;
        gap: 40px;
        align-items: center;

        .griditems:first-child {
            padding: 120px 0;

            h2 {
                margin: 0 0 37px 0;
                @include gradient-text;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                text-transform: uppercase;
                @include heading-font;
            }

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                max-width: 787px;
                margin: 0 0 20px 0;
                @include font-normal;
            }

            .buttonAlignment {
                padding: 17px 0 0 0;
            }
        }

        .griditems:last-child {
            height: 100%;
            position: relative;

            .iconAlign {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .iconCenter {


                img {
                    display: block;
                    max-width: 518px;
                }

            }

            .image {
                width: 100%;
                height: 100%;
                opacity: .5;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }

    }
}