@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.trustedSection {
    padding: 120px 0;

    .title {
        position: relative;
        z-index: 99;

        h2 {
            @include heading-font;
            @include gradient-text;
            font-size: 40px;
            text-align: center;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            text-transform: uppercase;
            margin: 0 0 28px 0;
        }

        p {
            @include font-normal;
            color: rgba(255, 255, 255, 0.70);
            text-align: center;
            font-size: 24px;
            max-width: 1400px;
            margin: 0 auto;
            margin: 0 0 20px 0;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .sliderWrap {
        position: relative;

        .top {
            position: absolute;
            left: 0;
            border-radius: 100%;
            background: #000;
            width: 100%;
            height: 250px;
            z-index: 9;
            top: -125px;
        }

        .bottom {
            position: absolute;
            left: 0;
            border-radius: 100%;
            background: #000;
            width: 100%;
            height: 150px;
            z-index: 9;
            bottom: -74px;

        }
    }


}


.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}