@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.whatWeOffer {
    background: url('/assets/images/what-we-offer.png'), #000;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 120px 0;

    .title {
        padding: 0 0 60px 0;

        h2 {
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            @include gradient-text;
            @include heading-font;
            text-transform: uppercase;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 27px;

        .griditems {
            border-radius: 26.071px;
            background: #0C0C0C;
            position: relative;
            padding: 32px 32px 48px 32px;
            overflow: hidden;

            &:hover {
                .lineImage {
                    img {
                        animation: spin3d 0.8s linear;
                    }
                }
            }




            .lineImage {
                position: absolute;
                top: 0;
                left: 0;

                img {
                    display: block;
                }
            }

            .details {
                padding: 38px 0 0 0;

                h3 {
                    color: #FFF;
                    text-align: center;
                    font-size: 27.81px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    @include font-medium;
                    margin: 0 0 13px 0;
                }

                p {
                    color: rgba(255, 255, 255, 0.70);
                    text-align: center;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    max-width: 393px;
                    margin: 0 auto;
                    line-height: normal;
                    @include font-normal;
                }
            }

            .iconCemter {
                display: flex;
                justify-content: center;
                position: relative;

                &::before {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 240px;
                    height: 219px;
                    content: '';
                    background: linear-gradient(180deg, rgba(238, 185, 43, 0.00) 25.48%, #724900 100%);
                    mix-blend-mode: color;
                }

                img {
                    max-width: 240px;
                }
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 24px;
                border-radius: inherit;
                padding: 1px;
                background: linear-gradient(180deg, #666666 0%, #000000 100%);
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
                transition: .3s ease-in-out;
            }
        }

    }
}