@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.blogDetailsAlignment {
    padding: 200px 0 0 0;

    .blogImage {
        img {
            display: block;
            width: 100%;
            border-radius: 12px;
        }
    }
}
