@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.marqueeSection {
    padding: 28px 0;
    background: var(--GOLD, linear-gradient(90deg, #F9F490 0%, #E4AB40 25.48%, #FEFBA5 75%, #BD894E 100%));
    display: flex;
    align-items: center;
    gap: 30px;
    overflow: hidden;


    .icontext {
        display: flex;
        align-items: center;
        gap: 30px;
        white-space: nowrap;

        span {
            display: block;
            @include font-bold;
            color: #000;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.04px;
            text-transform: uppercase;
        }
    }
}