@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.telegramCommunity {
    padding: 46px 0;

    .grid {
        display: grid;
        grid-template-columns: 681px 1fr;
        align-items: center;
        gap: 0px;

        h2 {
            @include gradient-text;
            font-size: 40px;
            margin: 0 0 32px 0;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            text-transform: uppercase;
            @include heading-font;
        }

        ol {
            padding: 0 0 0 15px;
            margin: 0;

            li {
                color: rgba(255, 255, 255, 0.70);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include font-normal;
            }
        }

        .spacing {
            padding: 0 0 95px 0;
        }

        .image {
            img {
                display: block;
                width: 100%;
            }
        }
    }
}