@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.coursesDetailsBanner {
    .box {
        background-image: url('/assets/images/courses-details.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-position: center;
        border-radius: 30px;
        padding: 218px 0 60px 0;

        .grid {
            display: grid;
            grid-template-columns: 1fr 540px;
            gap: 20px;
            align-items: center;

            h1 {
                font-size: 48px;
                font-style: normal;
                margin: 0 0 24px 0;
                font-weight: 400;
                line-height: 150%;
                text-transform: uppercase;
                color: #fff;
                @include heading-font;

                span {
                    @include gradient-text;
                }
            }

            .leftBottomAlignment {
                display: flex;
                align-items: center;
                gap: 16px;

                .dot {
                    width: 7px;
                    height: 7px;
                    background-color: #B6B6B6;
                    border-radius: 7px;
                }

                .dotButton {
                    display: flex;
                    align-items: center;
                    gap: 14px;

                    .dot {
                        width: 7px;
                        height: 7px;
                        background-color: #B6B6B6;
                        border-radius: 7px;
                    }

                    button {
                        background-color: transparent;
                        border-radius: 50px;
                        border: 1px solid var(--GOLD, #F9F490);
                        font-size: 18.411px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        padding: 6px 23px;
                        @include font-normal;

                        span {
                            background: var(--GOLD, linear-gradient(90deg, #F9F490 0%, #E4AB40 25.48%, #FEFBA5 75%, #BD894E 100%));
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }

                .ratingAlignment {
                    display: flex;
                    align-items: center;
                    gap: 14px;

                    .dot {
                        width: 7px;
                        height: 7px;
                        background-color: #B6B6B6;
                        border-radius: 7px;
                    }

                    .rating {
                        display: flex;
                        align-items: center;
                        gap: 4px;

                        span {
                            @include gradient-text;
                            font-size: 23.014px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            @include font-medium;
                        }
                    }
                }

                .time {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    span {
                        display: block;
                        color: #B6B6B6;
                        font-size: 23.014px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        @include font-medium;
                    }
                }

            }

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 22.303px;
                font-style: normal;
                font-weight: 400;
                margin: 0 0 24px 0;
                max-width: 832px;
                line-height: normal;
            }

            .card {
                border-radius: 30px;
                background: #0C0C0C;
                padding: 29px;
                position: relative;

                .details {
                    padding: 34px 0 0 0;

                    .buttonWidth {
                        button {
                            width: 100%;
                        }
                    }

                    .contentAlignment {
                        display: flex;
                        gap: 16px;
                        padding: 0 0 34px 0;
                        align-items: center;

                        h3 {
                            color: #FFF;
                            font-size: 40px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            @include font-bold;
                        }

                        ul {
                            margin: 0;
                            padding: 0 0 0 15px;

                            li {
                                color: #B6B6B6;
                                font-size: 23.014px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                @include font-medium;
                            }
                        }
                    }
                }

                .cardImage {
                    .image {
                        img {
                            height: 269px;
                            width: 100%;
                            border-radius: 16px;
                            object-fit: cover;
                        }
                    }
                }

                &::before {
                    @include border;
                }
            }
        }
    }
}