@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;


.similarBlogs {
    padding: 120px 0 0 0;

    @include respond-to("xl") {
        padding: 90px 0 0 0;
    }

    .sectionHeaderAlignment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        @include respond-to("sm") {
            display: block;
        }

        .relativeDiv {
            position: relative;
            background-color: #000;
            z-index: 9;
            padding-left: 39px;

            @include respond-to("sm") {
                padding-left: 0;
                display: flex;
                justify-content: center;
                background-color: transparent;
            }

            button {
                position: relative;
                display: flex;
                cursor: pointer;
                align-items: center;
                gap: 8px;
                background-color: transparent;
                padding: 12px 30px;
                border-radius: 99px;
                border: 2px solid var(--GOLD, #F9F490);

                .icons {
                    cursor: pointer;

                    &.rotate {
                        svg {
                            transform: rotate(180deg);
                            transition: .3s ease-in-out;
                        }
                    }

                    svg {
                        transition: .3s ease-in-out;
                    }
                }

                span {
                    @include gradient-text;
                    font-size: 20.588px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    @include font-bold;
                }

                .dropdown {
                    border-radius: 12px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 55px;
                    z-index: 99;

                    &.hide {
                        max-height: 0px;
                        overflow: hidden;
                        transition: .3s ease-in-out;
                    }

                    &.show {
                        max-height: 100dvh;
                        overflow: hidden;
                        transition: .3s ease-in-out;
                    }

                    .dropdownDesign {
                        border: 1px solid #666;
                        background: #0C0C0C;
                        border-radius: 12px;
                    }

                    .dropdownSpacing {
                        padding: 16px;

                        p {
                            color: #FFF;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            @include font-normal;
                            text-align: left;
                            margin: 0 0 15px 0;
                        }

                        p:last-child {
                            margin: 0;
                        }


                    }
                }
            }
        }

        .line {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: 2px;
            background: #C29255;

            @include respond-to("md") {
                display: none;
            }
        }

        .title {
            position: relative;

            .text {
                background: #000;
                position: relative;
                z-index: 9;
                padding-right: 24px;
                width: fit-content;

                @include respond-to("sm") {
                    width: 100%;
                    padding-right: 0;
                    background-color: transparent;
                }
            }



            h2 {
                @include heading-font;
                @include gradient-text;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                position: relative;
                line-height: 140%;
                text-transform: uppercase;

                @include respond-to("sm") {
                    @include heading32;
                    text-align: center;
                    margin: 0 0 24px 0;
                }
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px 22px;
        padding: 60px 0 0 0;


        @include respond-to("md") {
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
        }

        @include respond-to("sm") {
            grid-template-columns: repeat(1, 1fr);
            gap: 32px;
            padding: 40px 0 0 0;
        }

        .griditems {
            .details {
                padding: 20px 0 0 0;

                @include respond-to("sm") {
                    padding: 16px 0 0 0;
                }

                h3 {
                    @include font-medium;
                    color: #FFF;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    margin: 0 0 9px 0;
                    line-height: normal;
                }

                .twoContentAlignment {
                    display: flex;
                    align-items: center;
                    gap: 11px;

                    span {
                        display: block;
                        color: #B6B6B6;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        @include font-medium;
                    }

                    ul {
                        margin: 0;
                        padding: 0 0 0 15px;

                        li {
                            color: #B6B6B6;
                            font-family: "SF Pro Display";
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            @include font-medium;
                        }
                    }
                }
            }

            .cardImage {
                img {
                    display: block;
                    object-fit: cover;
                    height: 192px;
                    width: 100%;
                    border-radius: 12px;

                    @include respond-to("sm") {
                        height: 224px;
                    }
                }
            }
        }
    }

    .paginationTopAlignment {
        padding: 60px 0 0 0;

        @include respond-to("sm") {
            padding: 40px 0 0 0;
        }
    }
}