@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.successfullyPassword {
    min-height: 100dvh;
    background-image: url('/assets/images/login-wrapper.png');
    width: 100%;
    background-size: cover;
    background-position: left right;
    background-repeat: no-repeat;
    overflow: auto;
    background-attachment: fixed;

    .leftAlignment {
        padding-left: 11%;

        @include respond-to("xl") {
            padding: 0 5%;
        }
    }

    .lockImage {
        display: flex;
        justify-content: center;

        img {
            display: block;
        }
    }

    .containerAlignment {
        max-width: 1310px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 511px;
        gap: 20px;
        justify-content: space-between;
        min-height: 100dvh;

        .box {
            border-radius: 32px;
            border: 1px solid #000;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
            backdrop-filter: blur(5px);
            padding: 32px;

            .bottomSpacing {
                padding: 0 0 16px 0;
            }



            .loginButton {
                padding: 32px 0;

                button {
                    width: 100%;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    padding: 16px;
                    @include font-medium;
                    color: #000;
                    font-size: 20.588px;
                    font-style: normal;
                    font-weight: 500;
                    cursor: pointer;
                    border-radius: 42.891px;
                    background: var(--GOLD, linear-gradient(90deg, #F9F490 0%, #E4AB40 25.48%, #FEFBA5 75%, #BD894E 100%));
                    line-height: normal;
                    transition: .3s ease-in-out;

                    &:hover {
                        background: var(--GOLD, linear-gradient(90deg, #E4AB40 0%, #F9F490 25.48%, #BD894E 75%, #FEFBA5 100%));

                    }
                }
            }




            .contnet {
                padding: 0 0 32px 0;

                h1 {
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                    @include heading-font;
                    @include gradient-text;
                }


            }
        }

        .mainrelative {
            position: relative;
            height: 100%;
            width: 100%;
        }

        .image {
            display: flex;
            align-items: flex-end;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;

            img {
                height: 90vh;
                max-width: 600px;
                display: block;
            }
        }
    }
}