@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.notifications {
    border-radius: 24px 0 0 0;
    border-top: 1px solid #66666693;
    border-left: 1px solid #66666693;
    background: #0F0F0F;
    padding: 32px;

    @include respond-to("xl") {
        padding: 22px;
    }

    .title {
        padding: 0 0 23px 0;

        h2 {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            @include heading-font;
            @include gradient-text;
        }
    }

    .allBoxAlignment {
        .box:last-child {
            margin: 0;
        }

        .box {
            border-radius: 24px;
            padding: 24px;
            background: #000;
            margin: 0 0 16px 0;
            position: relative;

            &::before {
                @include border;
            }

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include font-normal;
            }

            .boxHeader {
                display: grid;
                grid-template-columns: 1fr 145px;
                gap: 10px;
                padding: 0 0 12px 0;
                align-items: center;

                .leftAlignment {
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    img {
                        display: block;
                    }

                    h4 {
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        @include font-medium;
                        color: #fff;
                        line-height: normal;
                    }
                }

                span {
                    display: block;
                    text-align: right;
                    @include font-medium;
                    color: #fff;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }
    }
}