@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.herobanner {
    background-image: url('/assets/images/hero-section.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100dvh;

    @include respond-to("md") {
        height: auto;
    }

    @include respond-to("sm") {
        background-image: url('/assets/images/mobile-hero.png');
    }

    .grid {
        display: grid;
        grid-template-columns: 777px 1fr;
        gap: 0;
        height: 100dvh;

        @include respond-to("xl") {
            grid-template-columns: 1fr 550px;
            gap: 20px;
        }

        @include respond-to("md") {
            grid-template-columns: 1fr;
            height: auto;
        }

        .griditems:last-child {
            display: flex;
            align-items: flex-end;
        }

        .text {
            padding: 300px 0 0 0;

            @include respond-to("xl") {
                padding: 250px 0 0 0;
            }

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 22.303px;
                font-style: normal;
                font-weight: 400;
                margin: 0 0 24px 0;
                line-height: normal;
                @include font-normal;

                @include respond-to("xl") {
                    font-size: 18px;
                    line-height: 28px;
                    max-width: 639px;
                }

                @include respond-to("sm") {
                    margin: 0 auto 16px auto;
                    max-width: 400px;
                    font-size: 20px;
                    font-style: normal;
                    text-align: center;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .buttonAlignment {
                display: flex;
                align-items: center;
                gap: 16px;

                @include respond-to("sm") {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 10px;
                }

                button {
                    padding: 16px 40px;

                    @include respond-to("xl") {
                        font-size: 18px;
                        height: 48px;
                        padding: 12px 26px;
                    }

                    @include respond-to("sm") {
                        width: 100%;
                        font-size: 20px;
                        height: 56px;
                    }
                }

                .outlineButton {
                    color: #FFF;
                    font-size: 20.588px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    @include font-bold;
                    border-radius: 99px;
                    border: 1px solid #fff;
                    background-color: transparent;
                    transition: .3s ease-in-out;
                    cursor: pointer;

                    @include respond-to("xl") {
                        font-size: 18px;
                        padding: 12px 26px;
                    }

                    @include respond-to("sm") {
                        font-size: 20px;
                    }

                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }

            h1 {
                color: #F5F5F5;
                margin: 0 0 24px 0;
                font-size: 72px;
                font-style: normal;
                max-width: 823px;
                font-weight: 400;
                line-height: 140%;
                text-transform: uppercase;
                @include heading-font;

                @include respond-to("md") {
                    font-size: 58px;
                }

                @include respond-to("sm") {
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    max-width: 400px;
                    margin: 0 auto 16px auto;
                    text-align: center;
                }

                span {
                    @include gradient-text;
                }
            }
        }

        .griditems {
            height: 100%;



            .image {
                @include respond-to("md") {
                    display: flex;
                    justify-content: center;
                }

                img[alt="BullImage"] {
                    @include respond-to("sm") {
                        display: none;
                    }
                }

                img[alt="MobileBullImage"] {
                    display: none;

                    @include respond-to("sm") {
                        display: block;
                    }
                }

                img {
                    display: block;
                    width: 100%;

                    @include respond-to("md") {
                        width: 70%;
                    }

                    @include respond-to("sm") {
                        width: 100%;
                    }
                }
            }
        }
    }
}