@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.whyChooseAlignment {
    background: #0C0C0C;
    padding: 120px 0;

    @include respond-to("xl") {
        padding: 90px 0;
    }

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .text {
        padding: 0 0 60px 0;

        @include respond-to("sm") {
            padding: 0 0 40px 0;
        }

        h2 {
            @include heading-font;
            @include gradient-text;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            text-transform: uppercase;

            @include respond-to("sm") {
                @include heading32;
                text-align: center;
            }
        }
    }

    .allBoxAlignment {


        .box:last-child {
            margin: 0;
        }

        .box {
            border-radius: 15px;
            margin: 0 0 100px 0;
            border-radius: 21.929px;
            background: #000;
            border: 1px solid #66666670;
            position: relative;
            padding: 80px 40px 40px 40px;

            @include respond-to("sm") {
                padding: 32px 24px;
                overflow: hidden;
            }

            &::before {
                @include respond-to("sm") {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: '';
                    background-color: #D9D9D9;
                    filter: blur(200px);
                    z-index: 9;
                    width: 160px;
                    height: 160px;
                }
            }

            .iconText:last-child {
                padding: 0;
            }

            .list {
                padding: 80px 0 0 0;

                @include respond-to("sm") {
                    padding: 0 0 26px 0;
                }
            }

            .mobileicon {
                display: none;

                @include respond-to("sm") {
                    display: block;
                }

                img {
                    max-width: 120px;
                }
            }

            .iconText {
                padding: 0 0 30px 0;

                @include respond-to("sm") {
                    padding: 0 0 24px 0;
                }

                span {
                    color: rgba(255, 255, 255, 0.70);
                    font-size: 21.929px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    @include font-normal;
                    display: block;

                    @include respond-to("sm") {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }

            .textgrid {
                display: grid;
                grid-template-columns: 613px 1fr;
                gap: 100px;
                position: relative;
                z-index: 9;

                @include respond-to("sm") {
                    display: block;
                    gap: 0;
                }

                .content {
                    p {
                        color: rgba(255, 255, 255, 0.70);
                        font-size: 24px;
                        font-style: normal;
                        margin: 0 0 38px 0;
                        font-weight: 400;
                        line-height: normal;
                        @include font-normal;

                        @include respond-to("sm") {
                            font-size: 20px;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }

                    .icon {
                        @include respond-to("sm") {
                            display: none;
                        }

                        img {
                            max-width: 160px;
                            display: block;
                        }
                    }

                    h2 {
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                        @include heading-font;
                        margin: 0 0 32px 0;
                        text-transform: uppercase;
                        color: #fff;

                        @include respond-to("sm") {
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 140%;
                            text-transform: uppercase;
                        }

                        .fontfamily {
                            font-family: "Roboto Condensed", sans-serif;
                            font-size: 44px;
                            font-weight: 700;

                            @include respond-to("sm") {
                                font-size: 34px;
                                font-weight: 400;
                                line-height: 140%;
                            }

                        }

                        .textcolor {
                            @include gradient-text;
                        }
                    }
                }
            }


            .rightvec {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                max-width: 970px;

                @include respond-to("md") {
                    display: none;
                }

                img {
                    display: block;
                    height: 100%;
                    max-width: 100%;
                    width: 100%;
                }
            }


        }
    }
}