@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.whyChooseAlignment {
    background: #0C0C0C;
    padding: 120px 0;

    .text {
        h2 {
            @include heading-font;
            @include gradient-text;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            text-transform: uppercase;
        }
    }

    .allBoxAlignment {
        .box:nth-child(2n+2) {
            grid-template-columns: 500px 1fr;

            @media (max-width:1024px) {
                grid-template-columns: 1fr;
            }

            .content {
                order: 2;
            }

            .image {
                width: 100%;
                height: 450px;

                @media (max-width:576px) {
                    height: 220px;
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px 0 0 15px;

                    @media (max-width:1024px) {
                        border-radius: 15px 15px 0 0;
                    }
                }
            }
        }

        .box:last-child {
            margin: 0;
        }

        .box {
            border-radius: 15px;
            margin: 0 0 54px 0;
            border-radius: 21.929px;
            background: #000;
            height: 800px;
            border: 1px solid #66666670;
            position: relative;
            padding: 80px 40px 40px 40px;

            .textgrid {
                display: grid;
                grid-template-columns: 613px 1fr;
                gap: 100px;
                position: relative;
                z-index: 9;

                .content {
                    p {
                        color: rgba(255, 255, 255, 0.70);
                        font-size: 24px;
                        font-style: normal;
                        margin: 0 0 38px 0;
                        font-weight: 400;
                        line-height: normal;
                        @include font-normal;
                    }

                    .icon {
                        img {
                            max-width: 160px;
                            display: block;
                        }
                    }

                    h2 {
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                        @include heading-font;
                        margin: 0 0 32px 0;
                        text-transform: uppercase;
                        color: #fff;

                        .fontfamily {
                            font-family: "Roboto Condensed", sans-serif;
                            font-size: 44px;
                            font-weight: 700;
                        }

                        .textcolor {
                            @include gradient-text;
                        }
                    }
                }
            }


            .rightvec {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                max-width: 970px;

                img {
                    display: block;
                    height: 100%;
                    max-width: 100%;
                    width: 100%;
                }
            }


        }
    }
}