body {
  margin: 0;
  padding: 0;
  font-family: "SFPRODISPLAYREGULAR";
  background: #000;
}

html {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin: 0;
}

button {
  outline: none;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container-md {
  max-width: calc(1440px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.user-panel-layout {
  display: flex;
  background: #000;
}

.sidebar-panel {
  width: 260px;
}

.children-layout {
  width: calc(100% - 260px);
}

img {
  user-select: none;
  -webkit-user-drag: none; /* Chrome, Safari */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none; /* optional */
}
