@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.profilePage {
    border-radius: 24px 0 0 0;
    border-top: 1px solid #66666693;
    border-left: 1px solid #66666693;
    background: #0F0F0F;
    padding: 32px;

    @include respond-to("xl") {
        padding: 22px;
    }

    .title {
        padding: 0 0 23px 0;

        h2 {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            @include heading-font;
            @include gradient-text;
        }
    }

    .profile {
        width: 200px;
        height: 200px;
        position: relative;
        border-radius: 50%;

        .img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            display: block;
        }

        .editIcon {
            position: absolute;
            right: 0;
            bottom: 10px;
            z-index: 9;

            img {
                display: block;
                cursor: pointer;
            }
        }
    }

    .profileInformation {
        padding: 32px 0 0 0;
        max-width: 824px;

        .twoCol {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px 24px;
            padding: 0 0 32px 0;
        }

        .saveButton {
            button {
                max-width: 200px;
                width: 100%;
            }
        }

    }
}