@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.coursesBanner {
    background-image: url('/assets/images/course-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100dvh;

    .grid {
        display: grid;
        grid-template-columns: 1fr 600px;
        gap: 0;
        height: 100dvh;

        @include respond-to("xl") {
            grid-template-columns: 1fr 500px;
        }

        .griditems:last-child {
            display: flex;
            align-items: flex-end;
        }

        .text {
            padding: 300px 0 0 0;

            @include respond-to("xl") {
                padding: 250px 0 0 0;
            }

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 22.303px;
                font-style: normal;
                font-weight: 400;
                margin: 0 0 24px 0;
                line-height: normal;
                max-width: 777px;
                @include font-normal;

                @include respond-to("xl") {
                    font-size: 18px;
                    line-height: 28px;
                    max-width: 639px;
                }
            }

            .buttonAlignment {
                display: flex;
                align-items: center;
                gap: 16px;

                button {
                    padding: 12px 30px;
                }

                .outlineButton {
                    color: #FFF;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    @include font-bold;
                    border-radius: 99px;
                    border: 1px solid #fff;
                    background-color: transparent;
                    transition: .3s ease-in-out;
                    cursor: pointer;

                    @include respond-to("xl") {
                        font-size: 12px 26px;
                        font-size: 16px;
                    }

                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }

            h1 {
                color: #F5F5F5;
                margin: 0 0 24px 0;
                font-size: 71px;
                font-style: normal;
                max-width: 823px;
                font-weight: 400;
                line-height: 140%;
                text-transform: uppercase;
                @include heading-font;

                span {
                    @include gradient-text;
                }
            }
        }

        .griditems {
            height: 100%;


            .image {

                display: flex;
                justify-content: flex-end;

                img {
                    display: block;
                    width: 85%;
                }
            }
        }
    }
}