@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.header {
    .headerAlignment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .line {
            width: 100%;
            height: 1px;
            background-color: hsla(44, 100%, 76%, 1);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            max-width: 640px;
            left: calc(126px + 30px);

            @include respond-to("xl") {
                max-width: 600px;
            }

            @include respond-to("md") {
                max-width: calc(100% - 200px);
                width: 100%;
                left: 55%;
                transform: translate(-50%, -50%);
            }

            @include respond-to("sm") {
                max-width: calc(100% - 160px);

            }

            &::before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background: hsla(44, 100%, 76%, 1);
                width: 9px;
                height: 9px;
                border-radius: 50%;
                content: '';

                @include respond-to("md") {
                    display: none;
                }
            }

        }

        .menuIcon {
            display: none;

            @include respond-to("md") {
                display: flex;
                align-items: center;
            }

            svg {
                cursor: pointer;
            }
        }

        .logo {
            img {
                display: block;
                max-width: 125px;
                cursor: pointer;

                @include respond-to("xl") {
                    max-width: 100px;
                }

                @include respond-to("sm") {
                    max-width: 80px;
                }
            }
        }

        .menu {
            display: flex;
            align-items: center;
            gap: 27px;

            @include respond-to("md") {
                display: none;
            }

            a {
                display: block;
                color: rgba(255, 255, 255, 0.70);
                font-size: 20.588px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include font-normal;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                @include respond-to("xl") {
                    font-size: 18px;
                }

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.headerTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.mobileSidebar {
    background: #0c0c0c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

    &.hide {
        transform: translateX(100%);
        transition: 0.3s ease-in-out;
    }

    &.show {
        transform: translateX(0%);
        transition: 0.3s ease-in-out;
    }

    .mobileSidebarBody {
        padding: 40px 20px;
        height: calc(100dvh - 194px);
        overflow: auto;

        a {
            display: block;
            font-size: 20px;
            @include heading-font;
            color: #fff;
            padding: 0 0 30px 0;
            text-transform: uppercase;
        }

        a:last-child {
            padding: 0;
        }
    }

    .mobileSidebarfooter {
        padding: 20px;
        border-top: 1px solid #252525;

        button {
            width: 100%;
        }
    }

    .mobileSidebarTop {
        padding: 8px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #252525;

        .close {
            display: flex;
            align-items: center;

            svg {
                width: 24px;
                height: 24px;

                path {
                    fill: #E4AB40;
                }
            }
        }

        .logo {
            img {
                display: block;
                max-width: 125px;
                cursor: pointer;

                @include respond-to("xl") {
                    max-width: 100px;
                }

                @include respond-to("sm") {
                    max-width: 80px;
                }
            }
        }
    }
}