@use '../../../../src/scss/main.scss' as *;
@use '../../../../src/scss/breakpoints/breakpoints.scss' as *;
@use '../../../../src/scss/font/font.scss' as *;

.algobotsPageAlignment {
    border-radius: 24px 0 0 0;
    border-top: 1px solid #66666693;
    border-left: 1px solid #66666693;
    background: #0F0F0F;
    padding: 32px;

    @include respond-to("xl") {
        padding: 22px;
    }

    .title {
        padding: 0 0 23px 0;

        h2 {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            @include heading-font;
            @include gradient-text;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;

        .box {
            background-image: url('/assets/images/card-img.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            padding: 39px 0 20px 0;
            border-radius: 16px;

            @include respond-to("xl") {
                padding: 40px 0 20px 0;
            }

            @include respond-to("sm") {
                padding: 24px 0 20px 0;
            }

            .btn {
                padding: 24px 0 0 0;

                @include respond-to("xl") {
                    padding: 20px 0 0 0;
                }

                @include respond-to("sm") {
                    padding: 12px 0 0 0;
                }

                button {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }

            .leftRightAlignment {
                padding: 0 20px;

                p {
                    margin: 55px 0 16px 0;
                    color: #FFF;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    @include font-normal;

                    @include respond-to("xl") {
                        font-size: 20px;
                    }
                }

                .line {
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(90deg, #FFF 0%, rgba(153, 153, 153, 0.00) 100%);
                }

                .bottomText {
                    span {
                        display: block;
                        color: rgb(182, 182, 182);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        @include font-medium;
                    }
                }

                .buttonStyle {
                    button {
                        width: 100%;
                        font-size: 18.697px;
                        font-weight: 700;
                        line-height: normal;
                    }
                }

                h6 {
                    color: #FFF;
                    font-size: 25.101px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    @include font-bold;
                    margin: 12px 0 18px 0;

                    span {
                        @include font-normal;
                        font-weight: 400;
                    }
                }
            }


            .detailsBox {
                position: relative;
                border-radius: 25.929px;
                padding: 20px;
                background: #0C0C0C;
                max-width: 90%;

                @include respond-to("sm") {
                    padding: 20px;
                    max-width: 248px;
                }

                h4 {
                    color: #E1E1E1;
                    font-size: 20px;
                    @include font-medium;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    @include respond-to("sm") {
                        font-size: 20px;
                        font-style: normal;
                        line-height: normal;
                    }

                    span {
                        color: #F33;
                    }
                }

                h3 {
                    color: #E1E1E1;
                    font-size: 20px;
                    margin: 0 0 4px 0;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    @include font-medium;

                    @include respond-to("sm") {
                        font-size: 20px;
                        font-style: normal;
                        line-height: normal;
                    }

                    small {
                        font-size: 14px;
                    }

                    span {
                        &.green {
                            color: #33FF60;
                        }
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border-radius: 24px;
                    border-radius: inherit;
                    padding: 1px;
                    /* border width */
                    background: linear-gradient(180deg, #666666 0%, #000000 100%);
                    -webkit-mask:
                        linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    pointer-events: none;
                    transition: .3s ease-in-out;

                    @include respond-to("xl") {
                        border-radius: 18px;
                    }
                }
            }
        }
    }
}