@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.getCertified {
    padding: 120px 0;
    background: #0C0C0C;
    overflow: hidden;
    position: relative;

    @include respond-to("xl") {
        padding: 90px 0;
    }

    @include respond-to("sm") {
        padding: 60px 0;
    }

    &::before {
        width: 200px;
        height: 200px;
        background-color: #D9D9D9;
        filter: blur(200px);
        position: absolute;
        top: 20%;
        left: 70%;
        transform: translateX(-50%);
        content: '';
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 720px;
        gap: 20px;
        align-items: center;

        @include respond-to("xl") {
            grid-template-columns: 1fr 620px;
        }

        @include respond-to("md") {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .griditems:first-child {
            @include respond-to("md") {
                order: 2;
            }
        }

        .image {
            img {
                display: block;
                width: 100%;
            }
        }

        h2 {
            @include gradient-text;
            @include heading-font;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            text-transform: uppercase;
            margin: 0 0 37px 0;

            @include respond-to("sm") {
                font-size: 32px;
                font-weight: 400;
                line-height: 140%;
                text-align: center;
                margin: 0 0 16px 0;
                text-transform: uppercase;
            }
        }

        p {
            max-width: 658px;
            color: rgba(255, 255, 255, 0.70);
            font-size: 24px;
            font-style: normal;
            margin: 0 0 37px 0;
            font-weight: 400;
            line-height: normal;
            @include font-normal;

            @include respond-to("xl") {
                @include font18;
            }

            @include respond-to("sm") {
                text-align: center;
                font-size: 20px;
                font-weight: 400;
                margin: 0 0 16px 0;
                line-height: normal;
            }
        }

        .allIconAlignment {
            .iconGrid:last-child {
                padding: 0;
            }

            .iconGrid {
                display: grid;
                grid-template-columns: 29px 1fr;
                gap: 10px;
                padding: 0 0 18px 0;

                @include respond-to("sm") {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    padding: 0 0 4px 0;
                }

                img {
                    @include respond-to("xl") {
                        max-width: 20px;
                    }

                    @include respond-to("sm") {
                        max-width: 24px;
                    }
                }

                span {
                    display: block;
                    color: #B6B6B6;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    @include font-normal;

                    @include respond-to("xl") {
                        @include font18;
                    }

                    @include respond-to("sm") {
                        font-size: 19px;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }

        }
    }
}