@use '../../../../scss/main.scss' as *;
@use '../../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../../scss/font/font.scss' as *;

.commonCourses {
    padding: 0 0 32px 0;

    .title {
        padding: 0 0 24px 0;

        h2 {
            display: inline;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            @include heading-font;
            @include gradient-text;
        }
    }

    .grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);

        .griditems {
            border-radius: 21.348px;
            position: relative;
            background: #000;
            padding: 20px;

            &::before {
                @include border;
            }

            .cardImage {
                img {
                    width: 100%;
                    height: 192px;
                    object-fit: cover;
                    display: block;
                    border-radius: 12px;
                }
            }

            .details {
                padding: 20px 0 0 0;

                h3 {
                    color: #FFF;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    @include font-medium;
                    margin: 0 0 10px 0;
                }

                .bottomText {
                    padding: 10px 0 0 0;

                    span {
                        display: block;
                        color: #B6B6B6;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        @include font-medium;
                    }
                }

                .buttonDesign {
                    button {
                        width: 100%;
                    }
                }

                .secContent {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 0 0 14px 0;

                    h4 {
                        color: #FFF;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        @include font-bold;
                    }

                    ul {
                        margin: 0;
                        padding: 0 0 0 15px;

                        li {
                            color: #B6B6B6;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            @include font-medium;
                            line-height: normal;
                        }
                    }
                }

                .progress {
                    width: 100%;
                    position: relative;
                    border-radius: 50px;
                    background: rgba(255, 255, 255, 0.20);
                    height: 10px;

                    .active {
                        width: 80px;
                        height: 100%;
                        border-radius: 50px;
                        background: var(--GOLD, linear-gradient(90deg, #F9F490 0%, #E4AB40 25.48%, #FEFBA5 75%, #BD894E 100%));
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }

                .listAlignment {
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    padding: 0 0 20px 0;

                    @include respond-to("sm") {
                        gap: 10px;
                        padding: 0 0 20px 0;
                    }

                    .rating {
                        display: flex;
                        align-items: center;
                        gap: 3px;

                        span {
                            display: block;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            @include font-medium;
                            @include gradient-text;
                        }
                    }

                    .dotButton {
                        display: flex;
                        align-items: center;
                        gap: 14px;

                        @include respond-to("sm") {
                            gap: 10px;
                        }

                        .dot {
                            width: 7px;
                            height: 7px;
                            background-color: #B6B6B6;
                            border-radius: 7px;
                        }

                        button {
                            background-color: transparent;
                            border-radius: 50px;
                            border: 1px solid var(--GOLD, #F9F490);
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            padding: 4px 16px;
                            @include font-normal;

                            @include respond-to("sm") {
                                font-size: 14px;
                            }

                            span {
                                background: var(--GOLD, linear-gradient(90deg, #F9F490 0%, #E4AB40 25.48%, #FEFBA5 75%, #BD894E 100%));
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                    }

                    .time {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        @include respond-to("sm") {
                            gap: 10px;
                        }

                        span {
                            color: #B6B6B6;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            display: block;

                            @include respond-to("sm") {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}