@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;


.paymentHistory {
    border-radius: 24px 0 0 0;
    border-top: 1px solid #66666693;
    border-left: 1px solid #66666693;
    background: #0F0F0F;
    padding: 32px;

    @include respond-to("xl") {
        padding: 22px;
    }

    .title {
        padding: 0 0 23px 0;

        h2 {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            @include heading-font;
            @include gradient-text;
        }
    }

    .tableUi {
        border: 1px solid var(--Linear, #6666668c);
        border-radius: 24px;
        height: calc(100dvh - 324px);
        overflow: auto;

        table {
            width: 100%;
            border-collapse: collapse;

            tbody {
                tr:last-child {
                    border: none;
                }

                tr {
                    border-bottom: 1px solid var(--Linear, #6666668c);

                    td {
                        padding: 14px;
                        font-size: 18px;
                        font-style: normal;
                        text-align: left;
                        font-weight: 500;
                        line-height: normal;
                        @include font-medium;
                        color: #B6B6B6;

                        .green {
                            color: #71FF7A;
                        }
                    }
                }
            }

            thead {
                background-color: #000;
                position: sticky;
                top: 0;
                z-index: 9;

                tr {
                    border-radius: 24px;

                    th:first-child {
                        border-top-left-radius: 24px;
                        border-bottom-left-radius: 24px;
                    }

                    th:last-child {
                        border-top-right-radius: 24px;
                        border-bottom-right-radius: 24px;
                    }

                    th {
                        padding: 20px 14px;
                        font-size: 18px;
                        font-style: normal;
                        text-align: left;
                        font-weight: 500;
                        line-height: normal;
                        @include font-medium;
                        color: #fff;
                    }
                }
            }
        }
    }

    .topAlignment {
        padding: 26px 0 0 0;
    }
}