@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.faqSectionAlignment {
    padding: 120px 0;

    .title {
        padding: 0 0 56px 0;

        h2 {
            text-align: center;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            @include gradient-text;
            @include heading-font;
            text-transform: uppercase;
        }
    }

    .faqGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;


        .column {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    .mainFaq {
        border-radius: 24px;
        position: relative;
        background: #0C0C0C;
        padding: 20px;

        .faqBody {
            &.hide {
                max-height: 0px;
                overflow: hidden;
                transition: .3s ease-in-out;
            }

            &.show {
                max-height: 100dvh;
                overflow: hidden;
                transition: .3s ease-in-out;
            }

            .spacing {
                padding: 20px 0 0 0;

                p {
                    color: #B6B6B6;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    @include font-medium;
                }
            }
        }

        .faqHeader {
            display: grid;
            gap: 13px;
            grid-template-columns: 1fr 48px;
            align-items: center;

            .icon {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border-radius: 93.333px;
                background: var(--GOLD, linear-gradient(90deg, #F9F490 0%, #E4AB40 25.48%, #FEFBA5 75%, #BD894E 100%));
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &.rotate {
                    svg {
                        transform: rotate(180deg);
                    }
                }

                svg {
                    transition: .3s ease-in-out;
                }
            }

            h3 {
                color: #FFF;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                @include font-medium;
            }
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 24px;
            border-radius: inherit;
            padding: 1px;
            background: linear-gradient(180deg, #666666 0%, #000000 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
            transition: .3s ease-in-out;
        }
    }
}