@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.meetTheFounder {
    padding: 120px 0 0 0;
    background-color: #000;
    position: relative;

    .grid {
        display: grid;
        grid-template-columns: 1fr 610px;
        gap: 20px;
        align-items: center;

        .griditems {
            position: relative;

            .button {
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);

                button {
                    padding: 14px;
                    border-radius: 14.545px;
                    border: 1.455px solid var(--Linear, #666);
                    background: rgba(0, 0, 0, 0.50);
                    backdrop-filter: blur(14.545454025268555px);
                    color: #FFF;
                    font-size: 34.909px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    text-transform: uppercase;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    @include heading-font;
                }
            }

            h2 {
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                margin: 0 0 20px 0;
                line-height: 140%;
                text-transform: uppercase;
                @include heading-font;
                @include gradient-text;
            }

            h3 {
                color: rgba(255, 255, 255, 0.80);
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin: 0 0 37px 0;
                @include font-medium;
            }

            p {
                max-width: 787px;
                color: rgba(255, 255, 255, 0.70);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include font-normal;
                margin: 0 0 20px 0;
            }

            .socialIcon {
                display: flex;
                align-items: center;
                gap: 16px;
                padding: 17px 0 0 0;

                img {
                    display: block;
                    cursor: pointer;
                }
            }

            .image {
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}