@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.meetTheFounder {
    padding: 120px 0 0 0;
    background-color: #000;
    position: relative;

    @include respond-to("xl") {
        padding: 100px 0 0 0;
    }

    @include respond-to("sm") {
        padding: 60px 0 0 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 610px;
        gap: 20px;
        align-items: center;

        @include respond-to("xl") {
            grid-template-columns: 1fr 550px;
        }

        @include respond-to("md") {
            grid-template-columns: 1fr;
        }

        @include respond-to("sm") {
            gap: 40px;
        }

        .griditems:first-child {
            @include respond-to("md") {
                order: 2;
            }
        }

        .griditems {
            position: relative;

            .button {
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);

                // @include respond-to("xl") {
                //     left: 40%;
                // }

                @include respond-to("sm") {
                    left: 50%;
                }

                button {
                    padding: 14px;
                    border-radius: 14.545px;
                    border: 1.455px solid var(--Linear, #666);
                    background: rgba(0, 0, 0, 0.50);
                    backdrop-filter: blur(14.545454025268555px);
                    color: #FFF;
                    font-size: 34.909px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    text-transform: uppercase;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    @include heading-font;

                    @include respond-to("xl") {
                        font-size: 20px;
                    }

                    @include respond-to("sm") {
                        white-space: nowrap;
                    }

                    img {
                        @include respond-to("xl") {
                            max-width: 40px;
                        }
                    }
                }
            }

            h2 {
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                margin: 0 0 20px 0;
                line-height: 140%;
                text-transform: uppercase;
                @include heading-font;
                @include gradient-text;

                @include respond-to("sm") {
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 0 0 16px 0;
                }
            }

            h3 {
                color: rgba(255, 255, 255, 0.80);
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin: 0 0 37px 0;
                @include font-medium;

                @include respond-to("xl") {
                    font-size: 26px;
                    margin: 0 0 26px 0;
                }

                @include respond-to("sm") {
                    margin: 0 0 16px 0;
                    text-align: center;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: normal;
                }
            }

            p {
                max-width: 787px;
                color: rgba(255, 255, 255, 0.70);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include font-normal;
                margin: 0 0 20px 0;

                @include respond-to("xl") {
                    @include font18;
                }

                @include respond-to("sm") {
                    margin: 0 0 16px 0;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .socialIcon {
                display: flex;
                align-items: center;
                gap: 16px;
                padding: 17px 0 0 0;

                img {
                    display: block;
                    cursor: pointer;
                }
            }

            .image {
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}