@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.classroominYourPocket {
    padding: 120px 0 0 0;

    @include respond-to("xl") {
        padding: 100px 0 0 0;
    }

    &.spacingRemove {
        padding: 0;
    }

    .box {
        position: relative;
        border-radius: 32px;
        background: rgba(255, 255, 255, 0.04);
        overflow: hidden;
        align-items: center;
        padding: 0 80px;
        display: grid;
        grid-template-columns: 1fr 637px;
        gap: 20px;

        @include respond-to("xl") {
            border-radius: 22px;
            padding: 0 40px;
            grid-template-columns: 1fr 520px;
        }

        .image {
            height: 100%;

            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .text {
            padding: 120px 0;

            @include respond-to("xl") {
                padding: 80px 0;
            }

            h2 {
                max-width: 576px;
                color: #D09C3D;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                text-transform: uppercase;
                margin: 0 0 24px 0;
                @include heading-font;
            }

            p {
                max-width: 614px;
                color: rgba(255, 255, 255, 0.70);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                @include font-normal;
                margin: 0 0 24px 0;
                line-height: normal;

                @include respond-to("xl") {
                    @include font18;
                }
            }

            .twoButtonAlignment {
                display: flex;
                align-items: center;
                gap: 16px;

                img {
                    display: block;
                    cursor: pointer;
                    max-width: 250px;
                    transition: .3s ease-in-out;

                    @include respond-to("xl") {
                        max-width: 180px;
                    }

                    &:hover {
                        transform: scale(1.01);
                    }
                }
            }
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 162px;
            height: 162px;
            content: '';
            background: #D9D9D9;
            filter: blur(200px);
            animation: floatAndRotateBefore 6s ease-in-out infinite;
        }

        &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 162px;
            height: 162px;
            content: '';
            background: #D9D9D9;
            filter: blur(200px);
            animation: floatAndRotateAfter 6s ease-in-out infinite;
        }
    }
}