@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.userHeader {
    padding: 30px 30px 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // position: sticky;
    // top: 0;
    // background-color: #000;
    // z-index: 99;

    @include respond-to("xl") {
        padding: 20px 20px 20px 0;
    }

    .rightContent {
        width: 100%;
        max-width: 700px;
        display: grid;
        grid-template-columns: 1fr 147px;
        gap: 16px;

        @include respond-to("xl") {
            max-width: 600px;
        }

        button {
            width: 100%;
        }

        input {
            height: 49px;
            width: 100%;
            border-radius: 99px;
            border-radius: 500px;
            border: 1px solid #66666693;
            background: #0F0F0F;
            padding: 0 20px;
            color: #fff;
            font-size: 20px;
            font-style: italic;
            font-weight: 300;
            line-height: normal;
            @include font-normal;

            &:focus {
                outline: none;
            }
        }

        ::placeholder {
            color: rgba(255, 255, 255, 0.50);
            font-size: 20px;
            font-style: italic;
            font-weight: 300;
            line-height: normal;
            @include font-normal;
        }
    }

    .leftContent {
        display: flex;
        align-items: center;
        gap: 32px;

        @include respond-to("xl") {
            gap: 24x;
        }

        .line {
            width: 4px;
            height: 53px;
            background-color: #fff;

            @include respond-to("xl") {
                height: 40px;
            }
        }

        p {
            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @include font-normal;

            @include respond-to("xl") {
                font-size: 16px;
            }
        }

        h2 {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            @include heading-font;

            @include respond-to("xl") {
                font-size: 20px;
            }

            span {
                color: #F9F490;
            }
        }
    }
}