@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.authentication {
    // display: grid;
    // grid-template-columns: repeat(3 , 1fr);
    // gap: 25px;  

    @include respond-to("sm") {
        gap: 16px;
    }

    .continueGoogle {

                button {
                    width: 100%;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    padding: 12.5px;
                    @include font-medium;
                    color: #000;
                    font-size: 20.588px;
                    font-style: normal;
                    font-weight: 500;
                    border-radius: 42.891px;
                    background-color: #fff;
                    cursor: pointer;
                    line-height: normal;
                }
            }
}