@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.topCourses {
    padding: 120px 0;
    background: url('/assets/images/light-background.png'), #0C0C0C;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    width: 100%;
    background-position: bottom bottom;

    .title {
        padding: 0 0 30px 0;

        h2 {
            text-align: center;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            @include gradient-text;
            @include heading-font;
            text-transform: uppercase;
        }
    }

    .tabCenter {
        display: flex;
        justify-content: center;
        padding: 0 0 48px 0;

        .tabGroup {
            border-radius: 86.905px;
            border: 0.869px solid var(--GOLD, #F9F490);
            padding: 10px;
            background-color: #0C0C0C;
            display: flex;
            align-items: center;
            gap: 26px;

            button {
                border: none;
                font-size: 20.857px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding: 12px 30px;
                @include font-medium;
                background-color: transparent;
                cursor: pointer;
                border-radius: 99px;

                &.active {
                    background: var(--GOLD, linear-gradient(90deg, #F9F490 0%, #E4AB40 25.48%, #FEFBA5 75%, #BD894E 100%));

                    span {
                        background: none;
                        color: #000;
                        background-clip: inherit;
                        -webkit-text-fill-color: #000;
                        -webkit-background-clip: inherit;

                    }
                }

                span {
                    background: var(--GOLD, linear-gradient(90deg, #F9F490 0%, #E4AB40 25.48%, #FEFBA5 75%, #BD894E 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    .buttonCenter {
        padding: 48px 0 0 0;
        display: flex;
        justify-content: center;

        button {
            background-color: transparent;
            padding: 14px 34px;
            border-radius: 50px;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            cursor: pointer;
            @include font-medium;
            border: 1px solid #F9F490;

            span {
                @include gradient-text;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;


    }
}