@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.whoWeAreAlignment {
    padding: 120px 0;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1px 568px;
        gap: 24px;
        align-items: flex-end;

        .box:last-child {
            margin: 0;
        }

        .griditems:nth-child(2) {
            width: 100%;
            height: 100%;
            background: #fff;
        }

        .text {
            h2 {
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                text-transform: uppercase;
                @include heading-font;
                @include gradient-text;
                margin: 0 0 43px 0;
            }

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                max-width: 798px;
                @include font-normal;
                margin: 0 0 20px 0;
            }

            p:last-child {
                margin: 0;
            }
        }

        .box {
            position: relative;
            border-radius: 32px;
            background: #0C0C0C;
            padding: 40px;
            margin: 0 0 24px 0;

            h3 {
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                margin: 0 0 16px 0;
                text-transform: uppercase;
                @include heading-font;
                @include gradient-text;
            }

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include font-normal;
            }

            &::before {
                @include border;
            }
        }
    }
}