@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.getInTouch {
    padding: 120px 0;

    .grid {
        display: grid;
        grid-template-columns: 670px 1fr;
        gap: 40px;

        .griditems {
            h2 {
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                text-transform: uppercase;
                @include gradient-text;
                margin: 0 0 50px 0;
                @include heading-font;
            }

            .followus {
                display: flex;
                align-items: center;
                padding: 50px 0 0 0;
                gap: 32px;

                span {
                    display: block;
                    color: #FFF;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    @include font-medium;
                    line-height: 42.667px;
                }

                .socialIcon {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    img {
                        display: block;
                        cursor: pointer;
                    }
                }
            }


            .line {
                border-bottom: 1px solid #fff;
            }


            .icongrid {
                display: grid;
                grid-template-columns: 58px 1fr;
                gap: 20px;
                padding: 0 0 50px 0;

                img {
                    display: block;
                }

                p {
                    @include font-normal;
                    color: rgba(255, 255, 255, 0.70);
                    font-size: 21.333px;
                    font-style: normal;
                    max-width: 435px;
                    font-weight: 400;
                    line-height: 32px;
                }

                a {
                    display: block;
                    @include font-normal;
                    color: rgba(255, 255, 255, 0.70);
                    font-size: 21.333px;
                    font-style: normal;
                    max-width: 435px;
                    font-weight: 400;
                    line-height: 32px;
                }



                h3 {
                    color: #FFF;
                    font-size: 26.667px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 40px;
                }
            }
        }
    }
}