@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.getInTouch {
    padding: 120px 0;

    .grid {
        display: grid;
        grid-template-columns: 670px 1fr;
        gap: 40px;

        .blackBox {
            border-radius: 26.667px;
            background: #141414;
            padding: 40px;

            h4 {
                @include font-medium;
                color: #FFF;
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: 42.667px;
                margin: 0 0 24px 0;
            }

            .checkboxText {
                display: flex;
                align-items: center;
                gap: 16px;
                padding: 0 0 26px 0;

                input[type="checkbox"] {
                    width: 21px;
                    height: 21px;
                    margin: 0;
                    padding: 0;
                }

                label {
                    display: block;
                    color: var(--Text-Colors-500, #808080);
                    font-size: 18.667px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26.667px;

                    span {
                        @include gradient-text;
                    }
                }
            }

            .formControl {
                padding: 0 0 21px 0;

                input {
                    width: 100%;
                    border-radius: 10.667px;
                    border: 1.333px solid var(--Text-Colors-200, #D6D6D6);
                    background: var(--Text-Colors-25, #FCFCFC);
                    height: 64px;
                    padding: 0 26px;
                    color: #000;
                    font-size: 21.333px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    @include font-normal;
                    outline: none;

                    &:focus {
                        outline: none;
                    }
                }

                textarea {
                    width: 100%;
                    border-radius: 10.667px;
                    border: 1.333px solid var(--Text-Colors-200, #D6D6D6);
                    background: var(--Text-Colors-25, #FCFCFC);
                    height: 192px;
                    resize: none;
                    padding: 16px 26px;
                    color: #000;
                    font-size: 21.333px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    @include font-normal;
                    outline: none;

                    &:focus {
                        outline: none;
                    }
                }

                ::placeholder {
                    color: var(--Text-Colors-500, #808080);
                    font-size: 21.333px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    @include font-normal;
                }
            }
        }

        .griditems {
            h2 {
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                text-transform: uppercase;
                @include gradient-text;
                margin: 0 0 50px 0;
                @include heading-font;
            }

            .followus {
                display: flex;
                align-items: center;
                padding: 50px 0 0 0;
                gap: 32px;

                span {
                    display: block;
                    color: #FFF;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    @include font-medium;
                    line-height: 42.667px;
                }

                .socialIcon {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    img {
                        display: block;
                        cursor: pointer;
                    }
                }
            }


            .line {
                border-bottom: 1px solid #fff;
            }


            .icongrid {
                display: grid;
                grid-template-columns: 58px 1fr;
                gap: 20px;
                padding: 0 0 50px 0;

                img {
                    display: block;
                }

                p {
                    @include font-normal;
                    color: rgba(255, 255, 255, 0.70);
                    font-size: 21.333px;
                    font-style: normal;
                    max-width: 435px;
                    font-weight: 400;
                    line-height: 32px;
                }

                a {
                    display: block;
                    @include font-normal;
                    color: rgba(255, 255, 255, 0.70);
                    font-size: 21.333px;
                    font-style: normal;
                    max-width: 435px;
                    font-weight: 400;
                    line-height: 32px;
                }



                h3 {
                    color: #FFF;
                    font-size: 26.667px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 40px;
                }
            }
        }
    }
}