@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;


.courseCard {
    position: relative;
    border-radius: 26.071px;
    background: #0C0C0C;
    padding: 26px;
    transition: transform 0.3s ease;
    will-change: transform;

    .details {
        padding: 30px 0 0 0;

        h3 {
            color: #FFF;
            @include font-medium;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .secContent {
            padding: 13px 0;
            display: flex;
            align-items: center;
            gap: 24px;

            h4 {
                @include font-bold;
                color: #FFF;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            ul {
                margin: 0;
                padding: 0 0 0 14px;

                li {
                    color: #B6B6B6;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }

        .ratingAlignment {
            display: flex;
            align-items: center;
            gap: 14px;

            .dot {
                width: 7px;
                height: 7px;
                background-color: #B6B6B6;
                border-radius: 7px;
            }

            .rating {
                display: flex;
                align-items: center;
                gap: 4px;

                span {
                    @include gradient-text;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    @include font-medium;
                    line-height: normal;
                }
            }
        }

        .buttonStyle {
            button {
                width: 100%;
            }
        }

        .listAlignment {
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 0 0 30px 0;

            .dotButton {
                display: flex;
                align-items: center;
                gap: 14px;

                .dot {
                    width: 7px;
                    height: 7px;
                    background-color: #B6B6B6;
                    border-radius: 7px;
                }

                button {
                    background-color: transparent;
                    border-radius: 50px;
                    border: 1px solid var(--GOLD, #F9F490);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 6px 20px;
                    @include font-normal;

                    span {
                        background: var(--GOLD, linear-gradient(90deg, #F9F490 0%, #E4AB40 25.48%, #FEFBA5 75%, #BD894E 100%));
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            .time {
                display: flex;
                align-items: center;
                gap: 14px;

                span {
                    display: block;
                    color: #B6B6B6;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    @include font-medium;
                }
            }
        }
    }

    .image {
        height: 234px;
        transition: transform 0.3s ease;
        will-change: transform;

        img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 24px;
        border-radius: inherit;
        padding: 1px;
        background: linear-gradient(180deg, #666666 0%, #000000 100%);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
        transition: .3s ease-in-out;
    }
}